*.db
config.cfg
credentials.cfg
coins.txt
apprise.yml
/dist
/analyzer_old2
__pycache__
/logs/*
analyzer/pycoingecko
.DS_Store
.history
old_*
/old_*
/.vscode
/.pytest_cache
/.env
/admoneo.egg-info
admoneo/
/env
/build
